In [65]:
import pandas as pd
import numpy as np

df = pd.read_csv('~/Downloads/day1.txt', skip_blank_lines=False, header=None, names=['cals'])
df.loc[len(df)] =  np.NaN
df

         cals
0     17034.0
1         NaN
2     13495.0
3      7368.0
4     13905.0
...       ...
2260   3302.0
2261   1539.0
2262   2793.0
2263   3551.0
2264      NaN

[2265 rows x 1 columns]

In [75]:
v = df.cals
cumsum = v.cumsum().fillna(method='pad')
df_sum = pd.DataFrame(cumsum[v.isnull()].diff().fillna(cumsum).reset_index()['cals'])
df_sum

        cals
0    17034.0
1    34768.0
2    68034.0
3    32068.0
4    23950.0
..       ...
255  52613.0
256  49626.0
257  42430.0
258  49142.0
259  53630.0

[260 rows x 1 columns]

In [76]:
df_sum.nlargest(1, 'cals')

       cals
68  71023.0

In [78]:
df_sum.nlargest(3, 'cals')

       cals
68  71023.0
2   68034.0
83  67232.0

In [77]:
df_sum.nlargest(3, 'cals').sum()

cals    206289.0
dtype: float64