In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('~/Downloads/day2.txt', header=None, delimiter=' ', names=['You', 'Me'])
df

     You Me
0      A  X
1      A  X
2      B  Y
3      B  Y
4      A  Y
...   .. ..
2495   A  X
2496   C  X
2497   A  X
2498   A  X
2499   A  X

[2500 rows x 2 columns]

In [2]:
outcomes = {
    ('A','X'): 'draw',
    ('A','Y'): 'won',
    ('A','Z'): 'lost',
    ('B','X'): 'lost',
    ('B','Y'): 'draw',
    ('B','Z'): 'won',
    ('C','X'): 'won',
    ('C','Y'): 'lost',
    ('C','Z'): 'draw'
}
shape_score = {
    'X': 1,
    'Y': 2,
    'Z': 3
}
outcome_score = {
    'lost': 0,
    'draw': 3,
    'won': 6
}

In [3]:
df['outcome'] = df.apply(lambda x: outcomes[(x.You, x.Me)], axis=1)
df

     You Me outcome
0      A  X    draw
1      A  X    draw
2      B  Y    draw
3      B  Y    draw
4      A  Y     won
...   .. ..     ...
2495   A  X    draw
2496   C  X     won
2497   A  X    draw
2498   A  X    draw
2499   A  X    draw

[2500 rows x 3 columns]

In [4]:
df['score'] = df.apply(lambda x: outcome_score[x.outcome] + shape_score[x.Me], axis=1)
df

     You Me outcome  score
0      A  X    draw      4
1      A  X    draw      4
2      B  Y    draw      5
3      B  Y    draw      5
4      A  Y     won      8
...   .. ..     ...    ...
2495   A  X    draw      4
2496   C  X     won      7
2497   A  X    draw      4
2498   A  X    draw      4
2499   A  X    draw      4

[2500 rows x 4 columns]

In [5]:
df.score.sum()

12276

In [6]:
desired_outcome = {
    'lost': 'X',
    'draw': 'Y',
    'won': 'Z'
}
desired_outcome_reverse = {v:k for k,v in desired_outcome.items()}
reverse_lookup = {(k[0], desired_outcome[v]): k[1] for k,v in outcomes.items()}
reverse_lookup

{('A', 'Y'): 'X',
 ('A', 'Z'): 'Y',
 ('A', 'X'): 'Z',
 ('B', 'X'): 'X',
 ('B', 'Y'): 'Y',
 ('B', 'Z'): 'Z',
 ('C', 'Z'): 'X',
 ('C', 'X'): 'Y',
 ('C', 'Y'): 'Z'}

In [7]:
df['Me_2'] = df.apply(lambda x: reverse_lookup[(x.You, x.Me)], axis=1)
df

     You Me outcome  score Me_2
0      A  X    draw      4    Z
1      A  X    draw      4    Z
2      B  Y    draw      5    Y
3      B  Y    draw      5    Y
4      A  Y     won      8    X
...   .. ..     ...    ...  ...
2495   A  X    draw      4    Z
2496   C  X     won      7    Y
2497   A  X    draw      4    Z
2498   A  X    draw      4    Z
2499   A  X    draw      4    Z

[2500 rows x 5 columns]

In [8]:
df['score_2'] = df.apply(lambda x: outcome_score[desired_outcome_reverse[x.Me]] + shape_score[x.Me_2], axis=1)
df.score_2.sum()

9975