In [1]:
import pandas as pd

df = pd.read_csv('~/Downloads/day3.txt', header=None, names=['items'])
df

                                              items
0    BdbzzddChsWrRFbzBrszbhWMLNJHLLLLHZtSLglFNZHLJH
1                          nnfMwqpQTMffHlNNLllHnZSS
2                    cGpcMwfppfqcjcTCBBzWDsDbDrjzWz
3          LhfjhcdjcGdhFfdGfdjdvwCCZMvvLvWwMLCLSwZC
4                          rDnsbmptPmlbQMCrQWQQBZQW
..                                              ...
295            GtsqFnfvGSFqGfQvgnWWZlLlLjZWtWldPmlT
296              sSsFqsqsGghwQQmfGRHbbVczbwwBpBpHcw
297                        BBFCBJCsGJBBgvgsvTlVhgNg
298                    ZnLdjRQddLRnZrlScHRVTTSHhRvg
299    fnnjZLWdrnqdWrrPLddqVqBzGDJJFGCBDfJmbDzFMbmB

[300 rows x 1 columns]

In [6]:
df['items_in_both'] = df['items'].apply(lambda x: set(x[:int(len(x)/2)]).intersection(set(x[int(len(x)/2):])))
df

                                              items items_in_both
0    BdbzzddChsWrRFbzBrszbhWMLNJHLLLLHZtSLglFNZHLJH           {F}
1                          nnfMwqpQTMffHlNNLllHnZSS           {n}
2                    cGpcMwfppfqcjcTCBBzWDsDbDrjzWz           {j}
3          LhfjhcdjcGdhFfdGfdjdvwCCZMvvLvWwMLCLSwZC           {L}
4                          rDnsbmptPmlbQMCrQWQQBZQW           {r}
..                                              ...           ...
295            GtsqFnfvGSFqGfQvgnWWZlLlLjZWtWldPmlT           {t}
296              sSsFqsqsGghwQQmfGRHbbVczbwwBpBpHcw           {w}
297                        BBFCBJCsGJBBgvgsvTlVhgNg           {s}
298                    ZnLdjRQddLRnZrlScHRVTTSHhRvg           {R}
299    fnnjZLWdrnqdWrrPLddqVqBzGDJJFGCBDfJmbDzFMbmB           {f}

[300 rows x 2 columns]

In [9]:
df['priorities'] = df['items_in_both'].apply(lambda x: sum([ord(c) - (38 if c.isupper() else 96) for c in x]))
df

                                              items items_in_both  priorities
0    BdbzzddChsWrRFbzBrszbhWMLNJHLLLLHZtSLglFNZHLJH           {F}          32
1                          nnfMwqpQTMffHlNNLllHnZSS           {n}          14
2                    cGpcMwfppfqcjcTCBBzWDsDbDrjzWz           {j}          10
3          LhfjhcdjcGdhFfdGfdjdvwCCZMvvLvWwMLCLSwZC           {L}          38
4                          rDnsbmptPmlbQMCrQWQQBZQW           {r}          18
..                                              ...           ...         ...
295            GtsqFnfvGSFqGfQvgnWWZlLlLjZWtWldPmlT           {t}          20
296              sSsFqsqsGghwQQmfGRHbbVczbwwBpBpHcw           {w}          23
297                        BBFCBJCsGJBBgvgsvTlVhgNg           {s}          19
298                    ZnLdjRQddLRnZrlScHRVTTSHhRvg           {R}          44
299    fnnjZLWdrnqdWrrPLddqVqBzGDJJFGCBDfJmbDzFMbmB           {f}           6

[300 rows x 3 columns]

In [10]:
df.priorities.sum()

7889

In [13]:
df2 = df.groupby(df.index // 3).items.apply(list).reset_index()
df2

    index                                              items
0       0  [BdbzzddChsWrRFbzBrszbhWMLNJHLLLLHZtSLglFNZHLJ...
1       1  [LhfjhcdjcGdhFfdGfdjdvwCCZMvvLvWwMLCLSwZC, rDn...
2       2  [dGlgDflTLLLrRLTLVdQLcQMnbvHbbFzNNvMbnHHn, sZj...
3       3  [zCGGFTQMQrsNRNGZdR, cLLQgPDpgcgmvPRHrwBdvrNZ,...
4       4  [zNZWFNZBFrGTdBcZZBdJTrGrmgvppgDHwHmgVHCHCvCPD...
..    ...                                                ...
95     95  [nDNDfmMnmDJRNfJJdMDRBdwjcTtsSHvBTswTjwLtsCts,...
96     96  [WMfNvsjWGjsqFjqTRRQVJztDzVmJHbft, ZPhplcrLrmz...
97     97  [nDLjMchghDcljfjffpfsqTmGCTGszGZVVzHV, wdFJPFr...
98     98  [BbVRzMcpbMNMHMTJmWdljdlJjT, GtsqFnfvGSFqGfQvg...
99     99  [BBFCBJCsGJBBgvgsvTlVhgNg, ZnLdjRQddLRnZrlScHR...

[100 rows x 2 columns]

In [18]:
df2['common_item_in_group'] = df2['items'].apply(lambda x: set.intersection(*[set(l) for l in x]))
df2

,index,items,common_item_in_group
0,0,[BdbzzddChsWrRFbzBrszbhWMLNJHLLLLHZtSLglFNZHLJ...,{M}
1,1,"[LhfjhcdjcGdhFfdGfdjdvwCCZMvvLvWwMLCLSwZC, rDn...",{M}
2,2,"[dGlgDflTLLLrRLTLVdQLcQMnbvHbbFzNNvMbnHHn, sZj...",{f}
3,3,"[zCGGFTQMQrsNRNGZdR, cLLQgPDpgcgmvPRHrwBdvrNZ,...",{Q}
4,4,[zNZWFNZBFrGTdBcZZBdJTrGrmgvppgDHwHmgVHCHCvCPD...,{P}
...,...,...,...
95,95,"[nDNDfmMnmDJRNfJJdMDRBdwjcTtsSHvBTswTjwLtsCts,...",{c}
96,96,"[WMfNvsjWGjsqFjqTRRQVJztDzVmJHbft, ZPhplcrLrmz...",{G}
97,97,"[nDLjMchghDcljfjffpfsqTmGCTGszGZVVzHV, wdFJPFr...",{j}
98,98,"[BbVRzMcpbMNMHMTJmWdljdlJjT, GtsqFnfvGSFqGfQvg...",{m}
99,99,"[BBFCBJCsGJBBgvgsvTlVhgNg, ZnLdjRQddLRnZrlScHR...",{V}

In [19]:
df2['priorities2'] = df2['common_item_in_group'].apply(lambda x: sum([ord(c) - (38 if c.isupper() else 96) for c in x]))
df2.priorities.sum()

AttributeError: 'DataFrame' object has no attribute 'priorities'