In [1]:
import pandas as pd

df = pd.read_csv('data/day4.txt', header=None, names=['range1', 'range2'])
df

    range1 range2
0     4-90    1-4
1    80-94  80-81
2     1-97  96-99
3    20-87  20-88
4    84-84  83-88
..     ...    ...
995  21-22  22-80
996  97-98  29-98
997  42-75  76-84
998  86-92  85-93
999  14-70  13-69

[1000 rows x 2 columns]

In [2]:
def range_included_in_range(x, y):
    min_x, max_x = map(int, x.split('-'))
    min_y, max_y = map(int, y.split('-'))
    return (min_x >= min_y and max_x <= max_y) or (min_y >= min_x and max_y <= max_x)

df['included'] = df.apply(lambda x: range_included_in_range(x.range1, x.range2), axis=1)
df

    range1 range2  included
0     4-90    1-4     False
1    80-94  80-81      True
2     1-97  96-99     False
3    20-87  20-88      True
4    84-84  83-88      True
..     ...    ...       ...
995  21-22  22-80     False
996  97-98  29-98      True
997  42-75  76-84     False
998  86-92  85-93      True
999  14-70  13-69     False

[1000 rows x 3 columns]

In [3]:
df.included.sum()

534

# Part 2

In [4]:
def ranges_overlap(x, y):
    min_x, max_x = map(int, x.split('-'))
    min_y, max_y = map(int, y.split('-'))
    return (min_x <= max_y and min_x >= min_y) or(min_y <= max_x and min_y >= min_x)

df['overlap'] = df.apply(lambda x: ranges_overlap(x.range1, x.range2), axis=1)
df.overlap.sum()

841