In [1]:
import pandas as pd
import numpy as np
df = pd.read_fwf('data/day8.txt', header=None, widths=[1] * 99)
df

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,2,2,2,1,1,2,2,1,2,2,...,1,2,2,0,0,2,2,2,1,0
1,1,0,2,1,1,2,1,1,1,2,...,1,0,1,1,0,0,1,1,1,1
2,1,0,2,1,2,2,2,2,3,0,...,2,3,3,0,2,1,0,0,2,2
3,1,1,0,0,0,1,2,3,1,1,...,0,2,3,3,1,0,2,2,0,1
4,1,1,2,1,2,0,3,1,2,0,...,1,2,0,3,3,2,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,0,2,1,1,1,2,2,2,0,3,...,0,3,2,2,0,2,0,2,3,2
95,0,2,1,1,0,2,3,0,0,0,...,3,1,3,3,3,2,2,0,0,0
96,2,0,1,2,2,1,3,3,0,2,...,3,2,0,3,0,0,0,1,1,1
97,2,0,2,1,0,0,2,2,1,1,...,1,1,0,2,3,2,0,0,2,2
98,2,1,0,1,2,0,0,1,1,1,...,0,3,1,0,3,1,0,0,1,1

In [2]:
visible = np.zeros((len(df), len(df)))

In [3]:
for r in range(len(df)):
    for c in range(len(df)):
        if r == 0 or c == 0 or r == len(df) - 1 or c == len(df) - 1 or max(df.loc[r][:c]) < df.loc[r][c] or max(df.loc[:,c][:r]) < df.loc[:,c][r] or max(df.loc[r][c+1:]) < df.loc[r][c] or max(df.loc[:,c][r+1:]) < df.loc[:,c][r]:
            visible[r, c] = 1

In [4]:
sum(sum(visible))

1798.0

# Part 2

In [5]:
viewing_distance = np.zeros((len(df), len(df)))

In [6]:
df.loc[:,0] = 9
df.loc[:,len(df)-1] = 9
df.loc[0] = 9
df.loc[len(df)-1] = 9
df

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
1,9,0,2,1,1,2,1,1,1,2,...,1,0,1,1,0,0,1,1,1,9
2,9,0,2,1,2,2,2,2,3,0,...,2,3,3,0,2,1,0,0,2,9
3,9,1,0,0,0,1,2,3,1,1,...,0,2,3,3,1,0,2,2,0,9
4,9,1,2,1,2,0,3,1,2,0,...,1,2,0,3,3,2,0,0,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,9,2,1,1,1,2,2,2,0,3,...,0,3,2,2,0,2,0,2,3,9
95,9,2,1,1,0,2,3,0,0,0,...,3,1,3,3,3,2,2,0,0,9
96,9,0,1,2,2,1,3,3,0,2,...,3,2,0,3,0,0,0,1,1,9
97,9,0,2,1,0,0,2,2,1,1,...,1,1,0,2,3,2,0,0,2,9
98,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [7]:
def while_true(l):
    i = 0
    while i < len(l) and l[i]:
        yield l[i]
        i += 1

for r in range(1, len(df) - 1):
    for c in range(1, len(df) - 1): 
        row = list(df.loc[r].apply(lambda x: x < df.loc[r ,c]))
        col = list(df.loc[:,c].apply(lambda x: x < df.loc[r ,c]))
        d_left = sum([x for x in while_true(row[:c][::-1])]) + 1
        d_right = sum([x for x in while_true(row[c+1:])]) + 1
        d_up = sum([x for x in while_true(col[:r][::-1])]) + 1
        d_down = sum([x for x in while_true(col[r+1:])]) + 1
        viewing_distance[r, c] = d_left * d_right * d_up * d_down
np.max(viewing_distance)

259308.0